/*****************************************************************
* Vis.js
*****************************************************************/
.vis-panel.vis-center { cursor: move; }
.vis-item { cursor: pointer; }
.vis-item .vis-item-overflow { overflow: visible; }

@media screen and (max-width: 768px)  {
  .vis-labelset { display:none; }
}

.vis-foreground .vis-group, .vis-labelset .vis-label {
  border-bottom: 1px dotted #ddd;
}
.vis-item {
  opacity: 0.9;
  color: #424242;
  background: #F5F5F5;
  border-color: #424242;
}
.vis-item[data-type="point"] {
  background: transparent !important;
  border: none;
}


/*****************************************************************
* Color Palatte
*****************************************************************/
.red.vis-group .vis-item {
  color: #DB2828;
  border-color: #DB2828;
  background: rgba(255, 207, 207, 0.9);
}
.orange.vis-group .vis-item {
  color: #F2711C;
  border-color: #F2711C;
  background: rgba(255, 229, 211, 0.9);
}
.yellow.vis-group .vis-item {
  color: #d87e04;
  border-color: #eaae00;
  background: rgba(253, 235, 181, 0.9);;
}
.olive.vis-group .vis-item {
  color: #7a8a0b;
  border-color: #B5CC18;
  background: rgba(237, 246, 177, 0.9);
}
.green.vis-group .vis-item {
  color: #119f32;
  border-color: #21BA45;
  background: rgba(207, 246, 216, 0.9);
}
.teal.vis-group .vis-item {
  color: #00B5AD;
  border-color: #00B5AD;
  background: rgba(213,247,245,0.9);
}
.blue.vis-group .vis-item {
  color: #2185D0;
  border-color: #2185D0;
  background: rgba(212,235,253,0.9);
}
.violet.vis-group .vis-item {
  color: #6435C9;
  border-color: #6435C9;
  background: rgba(222,209,251,0.9);
}
.purple.vis-group .vis-item {
  color: #A333C8;
  border-color: #A333C8;
  background: rgba(241,211,251,0.9);
}
.pink.vis-group .vis-item {
  color: #E03997;
  border-color: #E03997;
  background: rgba(224, 57, 57, 0.2);
}
.pink.vis-group .vis-item {
  color: #E03997;
  border-color: #E03997;
  background: rgba(253,218,238,0.9);
}
.brown.vis-group .vis-item {
  color: #A5673F;
  border-color: #A5673F;
  background: rgba(239,213,196,0.9);
}
.grey.vis-group .vis-item {
  color: #5a5959;
  border-color: #767676;
  background: rgba(230,222,222,0.9);
}
.black.vis-group .vis-item {
  color: #1B1C1D;
  border-color: #1B1C1D;
  background: rgba(179,180,182,0.95);
}


/*****************************************************************
* Custom
*****************************************************************/
#timeline-container {
  position: relative;
  margin-top: 40px;
}
#controller {
  position: fixed;
  top: 60px;
  right: 10px;
  margin: 10px;
  z-index: 2;
}
